*{
    margin:0px;
    padding:0px;
}
.navbar{
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    height: 102px;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 20;
}
.nav-logo{
    margin-right: 15px;
    margin-top: 15px;
}
.logo{
    margin-right: 55px;
}

.nav-icon{
    display: none;
    color: black;
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
}
.nav-menu{
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}
.nav-links{
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
}
.nav-item{
    line-height:40px;
    margin-right:0px;
}
.nav-item .active{
    color: yellow;
    border: 1px solid yellow;
}
.nav-item:after{
    content: "";
    display: block;
    height: 3px;
    width:0;
    background: transparent;
    transition: width 0.7s ease,background-color 0.5s ease;
}
.nav-item:hover:after{
    width: 100%;
    background: #009EA7;
}
.top_bar{
    background-color:#009EA7 ;
    width: 100%;
    z-index: 10;
    height: 50px;
    line-height: 50px;
    position: relative;
}
.top_bar_contact_item {
    font-size: 14px;
    margin-right: 30px;
    position: relative;
    color: white;
    margin-top: -22px;
}
.social-icons ul li a i{
    color:white;
    padding: 10px;
    
    
}
.social-icons{
    color: white;
    padding: 15px;
    margin-top: 5px;
    font-size: 17px;
}

@media screen  and (max-width:960px) {
    .nav-menu{
        display:flex;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid white;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
    }
    .nav-menu .active{
        background:#009EA7  ;
        left:0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index:1;
    }
    .nav-icon{
        display: block;
    }
    .top_bar{
        display: none;
    }
    .logo{
            width: 1000px;
            margin-top: 20%;
            margin-left: 40%;

    }
    .fa bars{
        color: black;
    }
}