.footer .bottom-footer-text {
    background-color: hsl(206, 34%, 20%);
}
.footer .ttm-textcolor-white {
    color: rgba(255,255,255,.6);
}
.copyright {
    padding-top: 20px;
    padding-bottom: 19px;
    font-size: 16px;
    background-color:  hsl(206, 34%, 20%);;
}
.footer .bottom-footer-text .copyright {
    border-top: 1px solid rgba(255,255,255,.07);
}
.layer-content {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    margin-top: 25px;
}
.first-footer {
    padding: 40px 0 28px;
    background-color: #009EA7;
    width: 100%;
    color: white;
}
footer{
    background-color: #009EA7;
}
.foot-title{
    text-align: left!important;
}
.featured-icon-box {
    position: relative;
    margin: 15px 0;
}
.second-footer{
    background-color: #223645;
    color: white;
}
#links{
    color: #009EA7;
    margin-bottom: 20px;
    margin-left: 90px;
}
.footer .widget {
    margin: 60px 0 55px;
    position: relative;
}
.social-icons {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
    margin-top: 20px;
    margin-left: 0px;
    font-size: 15px;
}
.footer .textwidget p, .footer ul.widget-post>li .post-date {
    color: rgba(255,255,255,.6);
}
.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer .widget ul>li {
    padding: 0 0 12px 0;
 
}
.quick-links{
    text-align: left;
    margin-left: 90px;
}
.logo-img-1{
    margin-bottom: 20px;
}
.featured-icon-box{
    display: flex;
}
h3 {
    font-size: 24px;
    line-height: 32px;
}
.widget ul>li {
    padding: 0 0 15px 0;
    position: relative;
}
.footer .widget ul>li a{
    text-decoration: none;
    text-align: left;    
}
.widget.widget_nav_menu a {
    padding-left: 21px;
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.social_icon{
    display:flex;
}
.social_icon li{
    font-size: 16px;
}
.bottom-icon {
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 50%;
}
.footer-text{
    margin: auto!important;
    text-align: center;
}
@media screen  and (max-width:960px) {
 iframe{
     width:300px!important;
     margin: auto !important;;
 }
 body{
     overflow-x:hidden!important;
 }
}

@media screen  and (max-width:420px) {
   .foot-title{
       text-align: left!important;
   }
   iframe{
      width:325px!important;
      margin: auto!important;
   }
   .footer .textwidget p, .footer ul.widget-post>li .post-date {
    color: rgba(255,255,255,.6);
    margin-top: 20px;
}
}
@media screen  and (max-width:280px) {
    iframe{
        width:250px!important;
        margin: auto!important;
     }
}