* {
  --skin-color: #009ea7;
  --dark-grey-color: #223645;
  --grey-color: #f0f5f8;
  --body-fonts-color: #647589;
  --white-color: #fff;
  --border-color: #e7e7e7;
  --skin-border-color: #e12454;
  --body-fonts: 'Karla',sans-serif;
  --title-fonts: 'Frank Ruhl Libre',serif;
  
}
body{
  overflow-x: hidden!important;
  
}
@media (min-width:380px)  { 
  body{
    overflow-x: hidden!important;
  }
  
 }
 @media (min-width:980px)  { 
  body{
    overflow-x: hidden!important;
  }
  
 }
